{% load static %}
<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<title>리뷰 게시판</title>
		  
		<link rel="stylesheet" type="text/css" href="{% static 'board.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width,initial-scale=1">		
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		
		<script src="{% static 'jquery-3.6.0.js'%}"></script>
		<script src="{% static 'script_board.js'%}"></script>		

   	 	<!-- Favicons -->
		<link href="{% static 'popcorn.png' %}" rel="icon">		
		
	</head>
	<body>
		<div class="navbar1">
			 
			<div class="brand d-i">
				
				<a href="index">IGOBAZO</a>
			</div>	 
			
			
			 <div class="searchbar d-i" >
				<form class="searchform" role="search" method="GET" action="searchpro">
					<input type="text" name="barbar" placeholder="search by title"/>
					<button type="submit" class="btn btn-default">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 32"><path d="M20.576 14.848q0-3.296-2.336-5.632t-5.664-2.368-5.664 2.368-2.336 5.632 2.336 5.664 5.664 2.336 5.664-2.336 2.336-5.664zm9.152 14.88q0 .928-.704 1.6t-1.6.672q-.96 0-1.6-.672l-6.112-6.112q-3.2 2.208-7.136 2.208-2.56 0-4.896-.992t-4-2.688-2.688-4T0 14.848t.992-4.864T3.68 5.952t4-2.688 4.896-.992 4.896.992 4 2.688 2.688 4.032.992 4.864q0 3.936-2.208 7.136l6.112 6.112q.672.672.672 1.632z"></path></svg>
					</button>
				</form>
			</div> 
			
			{% if not id %}
			<a class="login navlink" href="login">로그인</a>
			<a class="register navlink" href="register">회원가입</a>	
			{% endif %}
			{% if id %}
			<a class="login navlink" href="logout">로그아웃</a>
			<a class="register navlink" href="userinfo">회원정보</a>	
			{% endif %}	

		</div>
		
		<div id="middle">				
			<div id="tb3">	
			{% csrf_token %}
			<form method="post" action="deleteprohong">
				<input type="hidden" name="num" value="{{num}}">
				<input type="hidden" name="pagenum" value="{{pagenum}}">
				<table id = "tbc4" border = "1">
				<caption id="dt_tb">
					&nbsp;&nbsp;&nbsp;리뷰글 삭제<br><br>						
				</caption>	

				<tr>
					<th> 
						<br>					
						비밀번호
						<br>
						<br>							 
					</th>
					<td> <input class="input" type="password" name="passwd2" autofocus> </td>
				</tr>
				<tr>
					{% if not msg %}
						<td colspan="2"> 
							<br>
							비밀번호를 다시 입력하세요 
							<br>
							<br>
						</td>
					{% endif %}
					{% if msg %}
						<th colspan="2"> {{msg}} </th>
					{% endif %}	
				</tr>				
				<tr>
					<th colspan="2">
						<!-- 
						<input class="inputbutton" type="submit" value="삭제">
						<input class="inputbutton" type="button" value="목록"
							onclick="location='review?pagenum={{pagenum}}'">  -->
							
						<button type="submit" class="btn btn-danger btn-lg">
						&nbsp;&nbsp;&nbsp;&nbsp;삭  제&nbsp;&nbsp;&nbsp;&nbsp;
						</button>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="index" class="btn btn-danger btn-lg" role="button">
						&nbsp;&nbsp;&nbsp;&nbsp;목  록&nbsp;&nbsp;&nbsp;&nbsp;
						</a>
					<br>								
					</th>
				</tr>				
			</table>		
			</form>	
			</div>
		</div>
		<div id="footer">
			<p>
				본 콘텐츠의 저작권은 저작권자 또는 제공처에 있으며, 이를 무단으로 이용하는 경우 저작권법 등에 따라 법적 책임을 질 수 있습니다.<br><br>
				주소 : 서울 마포구 신촌로 94 그랜드플라자 7층<br>
				Copyright(c) 2021 IGOBAZO
			</p>
		</div>		
	</body>
</html>












