{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html>
	<meta charset="UTF-8">
	<title>IGOBAZO - content details</title>
	<!-- 디테일페이지 -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> 
	<link rel="stylesheet" type="text/css" href="../static/css/header.css">
<link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">  
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">	
    <!-- Favicons -->
	<link href="{% static 'popcorn.png' %}" rel="icon">
	<script src="{% static 'jquery-3.6.0.js'%}"></script>
	<script src="{% static 'script_register.js'%}"></script>	

    <script>
      function addAlbum() {
        alert('Adding...');
      }
    </script>




	<body id="bd1">
	{% csrf_token %}
		
		<div class="navbar1">
			 
			<div class="brand d-i">
				<a href="index">IGOBAZO</a>
			</div>	 
			
			
			<div class="searchbar d-i" >
				<form class="searchform" role="search" action="searchpro">
					<input type="text" name="barbar" placeholder="search by title"/>
					<button type="submit" class="btn btn-default">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 32"><path d="M20.576 14.848q0-3.296-2.336-5.632t-5.664-2.368-5.664 2.368-2.336 5.632 2.336 5.664 5.664 2.336 5.664-2.336 2.336-5.664zm9.152 14.88q0 .928-.704 1.6t-1.6.672q-.96 0-1.6-.672l-6.112-6.112q-3.2 2.208-7.136 2.208-2.56 0-4.896-.992t-4-2.688-2.688-4T0 14.848t.992-4.864T3.68 5.952t4-2.688 4.896-.992 4.896.992 4 2.688 2.688 4.032.992 4.864q0 3.936-2.208 7.136l6.112 6.112q.672.672.672 1.632z"></path></svg>
					</button>
				</form>
			</div>
			
			{% if not id %}
			<a class="login navlink" href="login">로그인</a>
			<a class="register navlink" href="register">회원가입</a>	
			{% endif %}
			{% if id %}
			<a class="login navlink" href="logout">로그아웃</a>
			<a class="register navlink" href="userinfo">회원정보</a>	
			{% endif %}		
		</div>

    
		<div class="container1">
			<div class="movieNm">
				<h1>{{info.contentNm}}<span>({{info.originalNm}})</span></h1>
			</div>
			<div class="detail_poster">
				<img class="mainimage" alt="{{info.contentNm}}" src="{{info.poster}}"/>
			</div>
			<div class="rating-container1">
				<div class="rating">
					<div class="star-container1">
						<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="star-icon" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path d="M12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72 3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z"></path></svg>
						
					</div>
					<div class="rating-text">
						{{info.rating}}
					</div>
					<!-- --------------------------------------------------------- -->
				
					<div>	
					
						<form  action="addmvwishlist" >	<!--  -->	
							<input type="hidden" name="contentCd" value="{{info.contentCd}}">
							<input type="hidden" name="media_type" value="{{info.media_type}}">
							
							
							<button type="submit" >보고싶어요</button>
						</form>	
					</div>
					
					<div>		
						
						<form  action="rmmvwishlist">
							<input type="hidden" name="contentCd" value="{{info.contentCd}}">
							<input type="hidden" name="media_type" value="{{info.media_type}}">
							<button type="submit">안볼래요</button>
						</form>
					</div>
				
				
				<!--   ------------------------------------------------------   -->
					
					
					
				</div>
			</div>	
			<div class="title">
				<div class="red-line"></div>
				<div class="title-text">OVERVIEW</div>
			</div>
			<div class="overview">
				{{info.overview}}
			</div>
			<div class="title">
				<div class="red-line"></div>
				<div class="title-text">INFO</div>
			</div>
			
			<table>
			  <tr>
			  	<td>개봉일</td>
			  	<td>{{info.release_date}}</td>
			  </tr>
			  <tr>
			    <td>장르</td>
			    <td>{{info.genre}}</td>
			   
			  </tr>
			  <tr>
			    <td>러닝타임</td>
			    <td>{{info.runtime}} 분</td>
			    
			  </tr>
			  <tr>
			    <td>제작</td>
			    <td>{{info.company}}</td>
			   
			  </tr><tr>
			    <td>감독</td>
			    <td>{{info.director}}</td>
			   
			  </tr><tr>
			    <td>주연</td>
			    <td>{{info.actor}}</td>
			   
			  </tr>
			</table>
			<!--  콘텐츠  -->
			<div class="title">
			<div class="red-line"></div>
			<div class="title-text">CONTENTS</div>
			</div>
			<br>
   <!--    <main id="main">-->


    <section id="portfolio" class="portfolio"> 
    
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">

            {% if not rsAlbum %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <p class="text-center">댓글이 없습니다... </p>
            </div>
            {% endif %}

            {% for i in rsAlbum %}
           {% if i.a_type == '액션' %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            {% elif i.a_type == '로맨스' %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            {% else %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            {% endif %}
              <div class="portfolio-wrap">
                <img src="{% static 'board/photos/' %}{{ i.image }}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>{{ i.subject }}</h4>
                  <p>{{ i.regdate }}</p>
                  <p>작성자 : {{ i.writer }}</p>
                  
                  <p><br>{{ i.note }}</p>
                  <div class="portfolio-links">
                    <a href="{% static 'board/photos/' %}{{ i.image }}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                    <a href="album_view?a_no={{ i.no }}" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            </div>
          </div>
		</div>
 
    </section><!-- End Portfolio Section -->

    <!--</main> End #main -->
			<!-- <a href="album_write" class="btn btn-danger btn-lg" role="button">
			코멘트 남기기
			</a> -->	
			<div>		
					<a href="album_write?contentCd={{contentCd}}&media_type={{media_type}}" role="button"> 
					<!--  <a href="writeprohong" class="btn btn-danger btn-lg" role="button"> -->
					&nbsp;&nbsp;&nbsp;&nbsp;코멘트 남기기&nbsp;&nbsp;&nbsp;&nbsp;
					</a>
			</div>
			<div class="title">
			<div class="red-line"></div>
			<div class="title-text">REVIEW</div>
	
			<div class="review-container">
				
			</div>
		
		</div>
	
		<!--  게시판  -->
		<div id="middle">
				<div id="tb">				
			<table id="tbc">
					
				<tr>
					<th style width="7%">번 호</th>
					<th style width="25%">제 목</th>
					<th style width="10%">작성자</th>					
					<th style width="10%">공 감</th>					
					<th style width="10%">작성일</th>
					<th style width="10%">조 회</th>
			</tr>
			{% if count == 0 %}
				<!-- 글이 없는 경우 -->
				<tr>
					<td align="center" colspan="8"> 
						리뷰가 없습니다. 리뷰를 남겨주세요.
					</td>
				</tr>				
			{% endif %}
			{% if count > 0 %}
				<!-- 글이 있는 경우 -->
				{% for dto in dtos %}
					<tr>
					
						<!-- 번호 -->
						<td align="center"> 
							{{number|sub:forloop.counter0}}
						</td>
						
						<!-- 영화제목 
						<td align="left">
								<a class = "tbclk" href="detail?num={{dto.num}}&pagenum={{pagenum}}&number={{number|sub:forloop.counter0}}&contentCd={{contentCd}}">
									{{dto.movie_subject}}
								</a>						
						</td>-->
						<!-- 리뷰제목 -->						
						<td align="left">						
							{% if dto.readcount == -1 %}
								{{ dto.subject }}
							{% endif %}
							{% if dto.readcount != -1 %}
								<a class = "tbclk" href="detail?num={{dto.num}}&pagenum={{pagenum}}&number={{number|sub:forloop.counter0}}&contentCd={{contentCd}}">
									{{ dto.subject }}
								</a>	
							{% endif %}
						</td>
						<td align="center"> <!-- 작성자 -->
							{{ dto.writer }}
						</td>
						<!-- <td align="center"><img src="{% static 'star.png'%}" width="20" height="20">&nbsp;&nbsp;{{dto.starpoint}}</td> -->
						<td align="center"><img src="{% static 'popcorn.png'%}" width="20" height="20">&nbsp;&nbsp;{{dto.sympathy}}</td> <!-- 공감 -->			
						<td align="center"> <!-- 작성일 -->
							{{ dto.regdate|date:"Y-m-d"}}<br>
							{{ dto.regdate|date:"H:i" }}
						</td>													 
						<td align="center"> <!-- 조회수  -->
							{% if dto.readcount == -1 %}
								{{0}}
							{% endif %}
							{% if dto.readcount != -1 %}
								{{ dto.readcount }}
							{% endif %}
						</td>		
						
					</tr>			
				{% endfor %}
			{% endif %}			
		</table>
		<br>
		<div id = "pg_blk">
		{% if startpage > pageblock %}
			<a id="page" href="review">[◀◀]</a>		
			<a id="page" href="review?pagenum={{startpage|sub:pageblock}}">[◀]</a>		
		{% endif %}
		
		{% for page in pages %}
			{% if page == pagenum %}
				<b id="page">[{{page}}]&nbsp;</b>
			{% endif %}			
			{% if page != pagenum %}
				<a id="page2" href="review?pagenum={{page}}">[{{page}}]</a>
			{% endif %}
		{% endfor %}
		
		{% if endpage < pagecount %}
			<a id="page" href="review?pagenum={{startpage|add:pageblock}}">[▶]</a>	
			<a id="page" href="review?pagenum={{pagecount}}">[▶▶]</a>		
		{% endif %}	
		</div>
		
			<div id = "wr_wrap">
					<!-- <a class="write" href="writepro" target="_self">글쓰기</a> -->
					<!--  <a href="reviewwrite&movieCd={{movieCd}}&title={{data.movieNm}}" class="btn btn-danger btn-lg" role="button"> -->
					<a href="writeprohong?contentCd={{contentCd}}&media_type={{media_type}}" role="button"> 
					<!--  <a href="writeprohong" class="btn btn-danger btn-lg" role="button"> -->
					&nbsp;&nbsp;&nbsp;&nbsp;리뷰 남기기&nbsp;&nbsp;&nbsp;&nbsp;
					</a>
					

			</div>
			
			</div>
		
		</div>
		</div>	
		<!-- footer -->
		<footer id="footer1">
			<div id="footer_infor">
				<div class="container">
					<div class="row">
						<div class="footer_infor">
							<ul>
								<li><a href="#">소개</a></li>
								<li><a href="#">제휴/광고/부대사업 문의</a></li>
								<li><a href="#">이용약관</a></li>
								<li><a href="#">개인정보처리방침</a></li>
								<li><a href="#">고객센터</a></li>
								<li><a href="#">윤리경영</a></li>
							</ul>
							<address>
								<p>
									본 콘텐츠의 저작권은 저작권자 또는 제공처에 있으며, 이를 무단으로 이용하는 경우 저작권법 등에 따라 법적 책임을 질 수 있습니다.<br>								
								</p>
								<p>서울특별시 마포구 신촌로 94 그랜드플라자 7층 <br><span class="bar2">Igobazo팀 : 김도헌, 신재현, 이남정, 윤홍주, 정한젬마 </span></p>
								
								<p>Web Project : IGOBAZO. 영화 리뷰 사이트 만들기<br>
								   Copyright(c) 2021 IGOBAZO
								</p>
							</address>
						</div>
					</div>
				</div>
			</div>
			
		</footer>
		<!-- //footer -->
		
	</body>
</html>















