  <!-- ======= Header ======= -->
<!--  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/"><span>IGOBAZO</span></a></h1>
      </div>

    </div>
  </header> -->
  
  		{% csrf_token %}
		<div class="navbar1">
			 
			<div class="brand d-i">
				
				<a href="index">IGOBAZO</a>
			</div>	 
			
			
			 <div class="searchbar d-i" >
				<form class="searchform" role="search" method="GET" action="searchpro">
					<input type="text" name="barbar" placeholder="search by title"/>
					<button type="submit" class="btn btn-default">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 32"><path d="M20.576 14.848q0-3.296-2.336-5.632t-5.664-2.368-5.664 2.368-2.336 5.632 2.336 5.664 5.664 2.336 5.664-2.336 2.336-5.664zm9.152 14.88q0 .928-.704 1.6t-1.6.672q-.96 0-1.6-.672l-6.112-6.112q-3.2 2.208-7.136 2.208-2.56 0-4.896-.992t-4-2.688-2.688-4T0 14.848t.992-4.864T3.68 5.952t4-2.688 4.896-.992 4.896.992 4 2.688 2.688 4.032.992 4.864q0 3.936-2.208 7.136l6.112 6.112q.672.672.672 1.632z"></path></svg>
					</button>
				</form>
			</div> 
			
			{% if not id %}
			<a class="login navlink" href="login">로그인</a>
			<a class="register navlink" href="register">회원가입</a>	
			{% endif %}
			{% if id %}
			<a class="login navlink" href="logout">로그아웃</a>
			<a class="register navlink" href="userinfo">회원정보</a>	
			{% endif %}	

		</div>
	